html, body {
    background-image: url("../images/background3.png");
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    font-family: 'Permanent Marker', cursive;
}
.container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: lightgreen;
}
h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
}
#timer, #question, #answerChoices {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 28px;
}
#timer, #question {
    text-align: left;
    padding-left: 10px;
}
p {
    padding: 10px;
}
p:hover {
    border: solid 2px gray;
    background-color: rgb(231, 231, 139);
}
#game {
    display: none;
}
#startButton {
    text-align: center;
    font-size: 35px;
}
button {
    margin-left: 42%;
    margin-bottom: 15px;
    background-color: black;
    color: white;
}
button:hover {
    background-image: url(../images/break.gif);
    background-position: center;
    color: black;
}
#scoreBoard {
    display: none;
    text-align: center;
    font-size: 30px;
}
#replay {
    display: none;
}